/* Layout */
.dashboard {
    display: flex;
    height: 100vh;
}


/* Sidebar */
.sidebar {

    width: 240px;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
}

.sidebar-nav {

    display: flex;
    flex-direction: column;
}

.sidebar-nav a {

    color: white;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.sidebar-nav a:hover {
    background: #334155;
}

.sidebar-nav .active {
    background: #2563eb;
}


/* Main */
.main-content {

    flex: 1;
    padding: 30px;
}


/* Grievance info */
.grievance-info {

    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}


/* Status */
.status {

    padding: 4px 10px;
    border-radius: 6px;
    color: white;
}

.pending {
    background: orange;
}

.resolved {
    background: green;
}


/* Thread */
.thread-section {

    background: white;
    padding: 20px;
    border-radius: 8px;

    height: 350px;
    overflow-y: auto;

    margin-bottom: 20px;
}


/* Message */
.message {

    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    max-width: 60%;
}

.message-header {

    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}


/* Admin message */
.message.admin {

    background: #e0e7ff;
}


/* Student message */
.message.student {

    background: #dcfce7;
    margin-left: auto;
}


/* Reply */
.reply-section {

    background: white;
    padding: 20px;
    border-radius: 8px;
}

textarea {

    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;

    resize: none;
}


/* Button */
.btn {

    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.primary-btn {

    background: #2563eb;
    color: white;
}

.primary-btn:hover {

    background: #1e40af;
}


/* Responsive */
@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .message {
        max-width: 90%;
    }

}
