/* Layout */
.dashboard {
    display: flex;
    min-height: 100vh;
    background: var(--color-bg-main);
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: var(--color-bg-sidebar);
    color: var(--color-text-white);
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.sidebar-nav a:hover {
    background: var(--color-bg-hover);
}

.sidebar-nav .active {
    background: var(--color-primary);
}


/* Main */
.main-content {
    flex: 1;
    padding: 30px;
}


/* Profile Section */
.profile-section {
    display: flex;
    gap: 20px;
    background: var(--color-bg-card);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-info p {
    margin: 5px 0;
}


/* Stats */
.stats-section {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.stat-card {
    background: var(--color-bg-card);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}


/* Table */
.grievance-section {
    background: var(--color-bg-card);
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background: var(--color-border-light);
}

tr {
    border-bottom: 1px solid var(--color-border);
}


/* Status */
.status {
    padding: 4px 10px;
    border-radius: 6px;
    color: white;
}

.total {
    padding: 4px 12px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
}

.pending {
    background: var(--color-warning);
    padding: 4px 12px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
}

.resolved {
    background: var(--color-success);
    padding: 4px 12px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 6px;
}


/* Button */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.primary-btn {
    background: var(--color-primary);
    color: white;
}

.primary-btn:hover {
    background: var(--color-primary-dark);
}
